#u225-4.AccordionPanelTabOpen p,#u282-4.AccordionPanelTabOpen p,#u286-4.AccordionPanelTabOpen p,#u278-4.AccordionPanelTabOpen p,#u221-4,#u222-4,#u225-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u278-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u282-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u297-2,#u297-5,#u297-9,#u296-2,#u296-8,#u286-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u227-7,#u290-13,#u291-4,#u297-4,#u297-7,#u296-3,#u296-5,#u296-6,#u296-9,#u296-11,#u301-4
{
	font-family: pt-sans-n4, sans-serif;
}

