.version.index /* version checker */
{
	color: #000016;
	background-color: #44A264;
}

@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 567.5999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -3px;
	width: 0.01px;
}

#haut
{
	margin-top: 3px;
}

#pu104
{
	width: 0.01px;
	padding-bottom: 55px;
	margin-top: -21px;
}

#u104
{
	z-index: 141;
	height: 54px;
}

#u104-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 141;
	top: -3px;
}

#u106
{
	z-index: 142;
	width: 51px;
	top: 2px;
	left: 10px;
}

#u106_img
{
	padding: 1px;
}

#u1509
{
	z-index: 145;
	width: 37px;
	top: 15px;
	left: 142px;
}

#u1527
{
	z-index: 147;
	width: 24px;
	top: 15px;
	left: 218px;
}

#u1533
{
	z-index: 149;
	width: 29px;
	top: 15px;
	left: 281px;
}

#u221-4
{
	z-index: 4;
	width: 275px;
	min-height: 57px;
	background-color: transparent;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-left: 21px;
	margin-top: 28px;
	position: relative;
}

#u222-4
{
	z-index: 8;
	width: 300px;
	background-color: transparent;
	text-align: center;
	font-size: 28px;
	line-height: 34px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-left: 10px;
	margin-top: 15px;
	position: relative;
}

#u206
{
	z-index: 2;
	width: 139px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin-left: 89px;
	margin-top: 73px;
	position: relative;
}

.js #u206.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#accordionu223
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u224
{
	z-index: 13;
	background-color: transparent;
}

#u225-4
{
	z-index: 14;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00B9E7;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u225-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8DD4E5;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u225-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8DD4E5;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u225-4.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: #00B9E7;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u226
{
	z-index: 18;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding: 15px 9px 7.049999999998931px;
}

#u1544
{
	z-index: 19;
	width: 131px;
	background-color: transparent;
	margin-left: 83px;
	position: relative;
}

#u227-7
{
	z-index: 21;
	width: 300px;
	min-height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u290-13
{
	z-index: 28;
	width: 300px;
	min-height: 87px;
	background-color: transparent;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u290-11 > li:before
{
	content: '•';
}

#slideshowu1401
{
	z-index: 42;
	width: 0.01px;
	height: 150px;
	margin-top: 9px;
	position: relative;
}

#u1403popup
{
	z-index: 43;
}

#u1406
{
	z-index: 44;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1464
{
	z-index: 46;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1473
{
	z-index: 48;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1473_img
{
	margin-top: -12px;
	margin-bottom: -13px;
}

#u1482
{
	z-index: 50;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1473_clip,#u1482_clip
{
	overflow: hidden;
	width: 300px;
	height: 150px;
}

#u1482_img
{
	margin-top: -9px;
	margin-bottom: -10px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1036
{
	z-index: 41;
	width: 300px;
	min-height: 189px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u277
{
	z-index: 52;
	background-color: transparent;
}

#u278-4
{
	z-index: 53;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F04E3E;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u278-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F2A59E;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u278-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F2A59E;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u278-4.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: #F04E3E;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u279
{
	z-index: 57;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 9px;
	padding-top: 12px;
	padding-right: 9px;
}

#u1550
{
	z-index: 73;
	width: 114px;
	background-color: transparent;
	margin-left: 91px;
	position: relative;
}

#u291-4
{
	z-index: 58;
	width: 300px;
	min-height: 89px;
	background-color: transparent;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 28px;
	position: relative;
}

#slideshowu1311
{
	z-index: 63;
	width: 0.01px;
	height: 150px;
	margin-top: 13px;
	position: relative;
}

#u1313popup
{
	z-index: 64;
}

#u1316
{
	z-index: 65;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1374
{
	z-index: 67;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1383
{
	z-index: 69;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1392
{
	z-index: 71;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u294
{
	z-index: 62;
	width: 300px;
	min-height: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u281
{
	z-index: 75;
	background-color: transparent;
}

#u282-4
{
	z-index: 76;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #27B67C;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u282-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #94D9BE;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u282-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #94D9BE;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u282-4.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: #27B67C;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u283
{
	z-index: 80;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding: 18px 9px 7.000000000000341px;
}

#u1557
{
	z-index: 115;
	width: 111px;
	background-color: transparent;
	margin-left: 95px;
	position: relative;
}

#u1679
{
	z-index: 117;
	width: 300px;
	min-height: 229px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u297-11
{
	z-index: 94;
	width: 219px;
	min-height: 73px;
	background-color: transparent;
	text-align: center;
	margin-left: 39px;
	margin-top: 9px;
	position: relative;
}

#u297-4
{
	color: #000000;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u297-2
{
	font-size: 20px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	line-height: 24px;
}

#u297-7
{
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u297-5
{
	font-size: 20px;
	color: #000000;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	line-height: 24px;
}

#u297,#u297-3,#u297-6
{
	line-height: 17px;
}

#u297-9
{
	font-size: 16px;
	line-height: 19px;
	color: #27B67C;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u296-13
{
	z-index: 81;
	width: 300px;
	min-height: 248px;
	background-color: transparent;
	text-align: center;
	margin-top: 9px;
	position: relative;
}

#u296-2,#u296-8
{
	font-size: 16px;
	line-height: 19px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u296-3,#u296-5,#u296-6,#u296-9,#u296-11
{
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#slideshowu1221
{
	z-index: 105;
	width: 0.01px;
	height: 150px;
	margin-top: 13px;
	position: relative;
}

#u1223popup
{
	z-index: 106;
}

#u1226
{
	z-index: 107;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1284
{
	z-index: 109;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1293
{
	z-index: 111;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1302
{
	z-index: 113;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u284
{
	z-index: 118;
	background-color: transparent;
}

#u286-4
{
	z-index: 119;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #2E3192;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u286-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #656698;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u286-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #656698;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u286-4.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: #2E3192;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u225-4.AccordionPanelTabOpen p,#u278-4.AccordionPanelTabOpen p,#u282-4.AccordionPanelTabOpen p,#u286-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u285
{
	z-index: 123;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u285_position_content
{
	margin-top: -1px;
	padding-bottom: 7px;
}

#u1569
{
	z-index: 139;
	width: 160px;
	background-color: transparent;
	margin-left: 67px;
	position: relative;
}

#u1569_clip
{
	overflow: hidden;
	width: 160px;
	height: 126px;
}

#u1569_img
{
	margin-bottom: -8px;
}

#u301-4
{
	z-index: 124;
	width: 300px;
	min-height: 108px;
	background-color: transparent;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-left: 9px;
	position: relative;
}

#slideshowu1060
{
	z-index: 129;
	width: 0.01px;
	height: 150px;
	margin-left: 9px;
	margin-top: 14px;
	position: relative;
}

#u1403,#u1313,#u1223,#u1062
{
	position: absolute;
	width: 300px;
	height: 150px;
	background-color: transparent;
}

#u1062popup
{
	z-index: 130;
}

#u1065
{
	z-index: 131;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1192
{
	z-index: 133;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1201
{
	z-index: 135;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1210
{
	z-index: 137;
	width: 300px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u304
{
	z-index: 128;
	width: 300px;
	min-height: 189px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 9px;
	margin-top: 14px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.AccordionPanelTab /* slideshowFreeStyle */
{
	cursor: pointer;
}

#accordionu223-bw
{
	z-index: 12;
	margin-top: 37px;
}

body
{
	position: relative;
	min-width: 320px;
}

#page .verticalspacer
{
	clear: both;
}

